@model RegistrationViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    @if (TempData["validationmessage"] != null)
    {
        string alertType = "alert alert-" + TempData["alertType"];
        <div class="@alertType">
            <strong>Alert!</strong> @TempData["validationmessage"]
        </div>
    }
</div>
<h2 class="text-center">Register</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form role="form" asp-action="Register" asp-controller="User" method="post">

                <div class="form-group">
                    <label for="login">Username</label>
                    <input type="text" name="login" asp-for="login" class="form-control input-sm" autocomplete="off" data-val="true" data-val-required="The Mobile field is required." placeholder="Name">
                    <span asp-validation-for="login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" asp-for="first_name" class="form-control input-sm" autocomplete="off" data-val="true" data-val-required="The Mobile field is required." placeholder="Name">
                    <span asp-validation-for="first_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" asp-for="last_name" class="form-control input-sm" autocomplete="off" data-val="true" data-val-required="The Mobile field is required." placeholder="Name">
                    <span asp-validation-for="last_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" asp-for="email" autocomplete="off" data-val="true" class="form-control input-sm" data-val-required="The Mobile field is required." placeholder="Email Address">
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" asp-for="password" autocomplete="off" class="form-control input-sm" data-val="true" data-val-required="The Mobile field is required." placeholder="Password">
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>
                    <input type="password" name="confirmPassword" asp-for="confirmPassword" autocomplete="off" class="form-control input-sm" placeholder="ConfirmPassword">
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>

                <input type="submit" value="Register" class="btn btn-info btn-block">
                <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>">
            </form>
        </div>
    </div>

</div>