@model PSA_Baras.Models.CocktailProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CocktailProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="unit" class="control-label"></label>
                <input asp-for="unit" class="form-control" />
                <span asp-validation-for="unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cocktailId" class="control-label"></label>
                <select asp-for="cocktailId" class ="form-control" asp-items="ViewBag.cocktailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="productId" class="control-label"></label>
                <select asp-for="productId" class ="form-control" asp-items="ViewBag.productId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
